version: '3.9'
services:
    postgres:
        image: postgres
        volumes:
            - db_data:/var/lib/postgresql/data
            - ./init.sql:/docker-entrypoint-initdb.d/init.sql
        env_file: .env.local
        ports:
            - '5432:5432'
volumes:
    db_data:
        driver: local
